* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 35, 35);
  color: rgb(224, 222, 222);
}

.header {
  text-align: center;
}

.form {
  display: grid;
  grid-template: 40px / 1fr;
  gap: 17px;
  margin-top: 50px;
  justify-items: center;
}
.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form input {
  background-color: rgb(114, 112, 112);
  color: rgb(224, 222, 222);
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  width: 40vw;
  height: 90%;
  margin: 0 0 0px 20px;
}

.form button {
  grid-column: 1 / -1;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(119, 56, 219); 
  color: rgb(236, 236, 236);
  height: 50px;
  width: 80vw;
  margin-top: 30px;
}
.meme-description {
  position: relative;
  margin-top: 100px;
}

.meme-description img {
  max-width: 50vw;
  max-height: 60vh;
  border-radius: 4px;
}

.text {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.topText {
  top: 0;
}

.bottomText {
  bottom: 0;
}