* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(41, 35, 35);
  color: rgb(224, 222, 222);
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
}

.form input {
  background-color: rgb(114, 112, 112);
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  width: 40vw;
}

.form button {
  grid-column: 1 / -1;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(119, 56, 219); 
  color: rgb(236, 236, 236);
  height: 40px;
  width: 80vw;
}
.meme-description {
  position: relative;
}

.meme-description img {
  max-width: 90vw;
  border-radius: 3px;
}

.text {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.topText {
  top: 0;
}

.bottomText {
  bottom: 0;
}